
<%= render "layouts/header" %>
<%= render "welcome/sections/hero" %>
<main>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <%= render "welcome/sections/school" %>
    <%= render "welcome/sections/school_life" %>
    <%= render "welcome/sections/curriculum" %>
  </div>
  <!-- /.row -->
  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider" />
  <%= render "welcome/sections/college_pack" %>

  <hr class="featurette-divider" />
  <%= render "welcome/sections/testimonials" %>

  <hr class="featurette-divider" />
  <%= render "welcome/sections/cta" %>

  <hr class="featurette-divider" />
  <!-- /END THE FEATURETTES -->
</div>
<!-- /.container -->
<!-- FOOTER -->
<%= render "layouts/footer" %>
